.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
}
.noProducts {
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.total {
  width: 100%;
  text-align: right;
  font-weight: bold;
}
.cartContainer {
  width: 31%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.cartContainer h2 {
  align-self: flex-start;
}

.detailContainer {
  display: flex;
  width: 100%;
  margin-right: 187px;
  justify-content: flex-end;
}
.detailContainer div {
  margin-right: 20px;
}
.irTienda {
  width: 100px;
  height: 25px;
  border: 0;
  background-color: #0b1c42;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}
.inputForm {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  padding: 5px;
  margin-bottom: 10px;
}
.buttonForm {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #027900;
  color: #fff;
}
.datosUsuario {
  width: 31%;
  min-width: 500px;
}
