.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-around;
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
}

.cartContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.productTableContainer {
  width: 100%;
  overflow-x: auto;
}

.productTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  display: flex;
}

.productTable td {
  display: flex;
  align-items: center;
  padding: 8px;
  text-align: left;
}

.productTable th {
  background-color: #f2f2f2;
}

.noProducts {
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.total {
  width: 100%;
  text-align: right;
  font-weight: bold;
}

.cartContainer h2 {
  align-self: flex-start;
}

.irTienda {
  width: 100px;
  height: 25px;
  border: 0;
  background-color: #0b1c42;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.inputForm {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  padding: 5px;
  margin-bottom: 10px;
}

.buttonForm {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #027900;
  color: #fff;
}

.datosUsuario {
  width: 100%;
  max-width: 40%;
  min-width: 30%;
}
