.side-nav {
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: repeat(2, max-content);

  .nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: rgb(248, 248, 248);
    h2 {
      font-size: 1.5rem;
      z-index: 1;
    }
    img {
      height: 9vh;
      z-index: 1;
    }
  }

  .nav-links {
    background-color: unset;
    position: unset;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: grid;
    align-content: center;
    gap: 1.5em;
    transform: unset;
    grid-auto-flow: column;
    transform: unset;
    grid-column: -2/-1;
    grid-row: 1/2;

    align-items: center;
    .nav-item {
      list-style: none;
      .nav-link {
        color: rgb(248, 248, 248);
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: none;
      }
    }
  }
}
@media (max-width: 768px) {
  .side-nav {
    margin-top: 8px;
    .nav-logo {
      display: none;
    }
  }
}
